<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GogaegDAO">


	 <insert id="insertGogaeg" parameterType="gogaeg">
      INSERT INTO gogaegs
      (gb_id,gb_title,gb_content,gb_email,gb_date
      <if test="gb_fname !=null">
      ,
      gb_fname
      </if>
      ) 
      VALUES(gogaegs_gbid_seq.NEXTVAL,#{gb_title},#{gb_content},#{gb_email},sysdate
      <if test="gb_fname !=null">
      ,
      #{gb_fname}
      </if>
      )
   </insert>

	<select id="getGogaegList"  resultType="gogaeg">
	
	SELECT * FROM gogaegs ORDER BY gb_id DESC
	
	</select>
	
	<update id="updateGogaeg"  parameterType="gogaeg">
		<![CDATA[
 		UPDATE gogaegs SET 
		gb_title = #{gb_title}, 
		gb_content = #{gb_content}
		WHERE gb_id = #{gb_id}
		]]> 
	</update>
	
	<delete id="deleteGogaeg"  parameterType="gogaeg">
		<![CDATA[
		DELETE gogaegs 
 		WHERE gb_id = #{gb_id} 
		]]>
	</delete>
	
	<select id="getGogaeg"  parameterType="gogaeg" resultType="gogaeg">
	
		SELECT *
		FROM gogaegs
		WHERE gb_id = #{gb_id}

	</select>
	

</mapper>